body {
	font-family: 'Lato', sans-serif;
}

h1 {
    margin-top: 0px;
    font-size: 24px;
}

/* Publicaciones */
article {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 18px !important;
}

article.odd {
    background: #EEE;
}

article img.media-object {
    width: 250px;
}

article p {
    margin-bottom: 0px;
}

/* Cuenta */
div#table_wrapper {
    margin-top: 20px;
}