body {
	font-family: 'Lato', sans-serif;
}

h1 {
    margin-top: 0px;
    font-size: 24px;
}

/* Publicaciones */
article {
    margin-bottom: 5px;
    padding: 10px;
    font-size: 18px !important;
    position: relative;
}

article.odd {
    background: #EEE;
}

article img.media-object {
    width: 150px;
}

article p {
    margin-bottom: 0px;
}

article p.info {
    position: absolute;
    bottom: 10px;
    background: #333;
    color: #FFF;
    padding: 5px;
    font-size: 14px;
}

article p.info em {
    font-size: 18px;
    font-weight: bold;
    color: #19e823;
}

/* Cuenta */
div#table_wrapper {
    margin-top: 20px;
}
